.loader{
    width: 100%;
    min-height: 200px;
    text-align: center;
    line-height: 200px;
    vertical-align: middle;
    color: $black-color;
    text-transform: uppercase;
    font-size: 14px;
    padding-top: 70px;
    opacity: .7;
    background: url(../img/pie.svg) no-repeat center center transparent;
    background-size: 38px 38px;
}