.ui.menu.pagination{
    box-shadow: none;
    border: none;
    margin-top: 20px !important;
    padding-bottom: 20px;
    .item{
        border: none;
        padding: 10px 20px;
        min-width: none;
        &:before{
            display: none;
        }
        &.cur{
            color: $green;
            border-bottom: 2px solid $green;
        }
    }
}
