$white-color: #ffffff;
$black-color: #000000;

//dark grey
$grey-dark-green: #6F8A84;
$grey-dark: #6D6D6D;
$grey-dark2: #626862;
$grey-dark3: #8c968c;
$grey-dark4: #595959;
$grey-dark5: #d0d0d0;
$grey-dark6: #8b9396;

//light grey
$grey-light-green: #a1afa1;
$grey-light-green2: #f3f7f5;
$grey-light: #f3f7f7;
$grey-light2: #f2f2f2;
$grey-light3: #E8EFEB;
$grey-light4: #fbfbfb;
$grey-light5: #e6e6e6;

//teal
$green: #2dbba6;
$green2: #28ada8;
$green3: #36a97a;
$green4: #3de8a2;
$green5: #8BF2A5;
$green-light: #0dcaa5;
$green-light2: #D1FBE9;
$green-light3: #F1F9F4;

//green
$green-leaf: #6ab344;
$green-leaf2: #49b362;
$green-leaf3: #21ba45;
$green-leaf-dark: #c0cebf;
$green-leaf-light: #d7fbd1;
$green-leaf-light2: #f2f9f1;

//blue
$blue: #1FC1CE;
$blue2: #0B919C;
$blue-sea: #65a4da;
$blue-sea2: #4f7fd0;
$blue-sea3: #52afff;
$blue-sea4: #3499f1;
$grey-dark-blue: #b7c8ce;
$grey-light-blue: #f2f5f7;
$grey-light-blue2: #e0f1ff;
$grey-light-blue3: #f3f8fc;
$grey-light-blue4: #f5f9fc;
$blue-sky: #8ad6f3;
$blue-sky2: #6ebce0;
$blue-sky3: #33a2af;
$blue-sky4: #00aff0;

//orange brown
$yellow: #fff3b7;
$orange: #ff9e6e;
$orange-rock: #b96f4a;
$orange-rock2: #dcc9af;
$orange-rock3: #9a7460;
$grey-dark-brown: #cecab7;
$grey-dark-brown2: #c3bdb4;
$grey-dark-brown3: #9c9c9c;
$grey-light-brown: #f7f7f7;
$grey-light-brown2: #fffbe0;
$grey-light-brown3: #f5f4f3;


$red: #f33362;
