/*
    Set Up Variables Theme
*/

$body-color: $grey-light-brown;
$text-color : $orange-rock;
$text-color2 : $orange-rock2;
$text-color3 : $orange-rock3;
$text-menu-color : $grey-dark-brown2;
$decoration-color : $orange-rock2;
//Table hover
$decoartion-color2 : $grey-light-brown2;
//Table Strip
$decoartion-color3 : $grey-light-brown3;
//Form header
$decoartion-color4 : $orange-rock3;
//basic text-color
$text-color-basic: $grey-dark-brown3;

.orange-rock{
    color: $text-color-basic;
    .title-in-table{
        color: $text-color;
        border-left-color: $decoration-color;
    }
    .main-content .title h2{
        color: $text-color-basic;
    }
    a{
        color: $text-color2;
    }
    .landing-menu-flow nav .icon-menu:hover{
        box-shadow: inset 0 0 0 -10px #FFFFFF, 0 0 0 15px #ffd49f, 0 0 25px 5px #000;
        color: $text-color;
    }
    .main-content{
        background: $body-color;
    }
    .head, .filter-top .navigator .breadcrumb a{
        color: $text-color;
    }
    .landing-menu header nav ul li a{
        color: $text-menu-color;
        i{
            color: $text-menu-color;
        }
        &.cur{
            color: $text-color;
            border-bottom-color: $text-color;
            i{
                color: $text-color;
            }
        }
    }
    .ui.form input:not([type]), .ui.form input[type=text], .ui.form input[type=email], .ui.form input[type=search], .ui.form input[type=password], .ui.form input[type=date], .ui.form input[type=datetime-local], .ui.form input[type=tel], .ui.form input[type=time], .ui.form input[type=url], .ui.form input[type=number], .ui.form select, .ui.form textarea{
        &:focus{
            border-color: $text-color;
        }
    }

    .table-wrap{
        border-top-color: $text-color2;
    }

    .ui.menu.pagination .item.cur{
        color: $text-color;
        border-bottom-color: $text-color;
    }

    .ui.selectable.table tbody tr:hover, .ui.selectable.striped.table tbody tr:hover, .ui.table tbody tr td.selectable:hover{
        background-color: $decoartion-color2 !important;
    }

    .ui.striped.table tbody tr:nth-child(2n){
        background-color: $decoartion-color3 !important;
    }

    .ui.modal > .header h3{
        border-top-color: $decoartion-color4;
        i{
            color: $text-color;
        }
    }
    .ui.accordion .title.active, .ui.accordion .title:not(.ui).active{
        color: $text-color;
    }
    .ui.card > .content > .header:not(.ui), .ui.cards > .card > .content > .header:not(.ui){
        color: $text-color;
    }

    .floating-form{
        border-color: $text-color3;
        > .header{
            background: $text-color3;
        }
    }

    .ui.form .header-form{
        border-left-color: $decoartion-color4;
    }

    .ui.menu.secondary.pointing .active.item, .ui.menu.secondary.pointing .active.item:hover{
        color: $text-color;
        border-color: $text-color;
    }
    .ui.inverted.segment.green{
        background: $decoartion-color3 !important;
    }

    .landing-menu-flow nav .icon-menu ul li a:hover{
        color: $text-color;
        border-bottom-color: $text-color;
    }

    .landing .group{
        border-color: $decoration-color;
    }
}
