.parallax{
    background-color: #60cfcb;
    a{
        color: #12a7a1;
    }
    li{
        list-style: none;
    }
    .parallax-bg{
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 0;
        > *{
            //background-size: 100% 100%;
            width: 6000px;
            height: 100%;
            position: relative;
            svg{
                width: 5000px;
                height: auto;
                position: absolute;
                top: 0;
                left: -500px;
            }
        }
        .base{
            //background: url(../img/parallax/base.svg);
        }
        .bottom{
            //background: url(../img/parallax/bottom.svg);
        }
       .middle{
            //background: url(../img/parallax/middle.svg);
        }
       .top{
            //background: url(../img/parallax/top.svg);
        }
    }
    .parallax-content{
        width: 100%;
        position: relative;
        left: 0;
        top: -10px;
        overflow: hidden;
        z-index: 10;
        #mask{
            width: 800%;
            height: 100%;
            padding: 0;
            margin: 0;
            position: relative;
            .box{
                width: 12.5%;
                height: 100%;
                float: left;
                > .content{
                    width: 1080px;
                    margin: 0 auto;
                    position: relative;
                    z-index: 10;
                    .inner{
                        background: $grey-light;
                        position: relative;
                        padding-bottom: 20px;
                        box-shadow: 0 0 30px -1px rgba(0, 0, 0, 0.4);
                        .tab-secondary.white{
                            background: $white-color;
                        }
                    }
                    &.article{
                        width: 768px;
                        .inner{
                            background: $white-color;
                            padding: 50px 30px;
                            p, li{
                                font-size: 15px;
                                line-height: 27px;
                                color: #3b3b3b;
                            }
                            ol, ul{
                                margin-bottom: 20px;
                            }
                        }
                    }
                }
            }
        }
    }

    > header{
        position: relative;
        z-index: 10;
        width: 1060px;
        margin: 0 auto 10px;
        .logo{
            background: url(../img/anjungan_big_logo.png) no-repeat transparent;
            width: 120px;
            height: 195px;
            display: block;
        }
    }
    .title-app{
        display: block;
        font-family: 'regular';
        color: $white-color;
        font-size: 30px;
        margin-top: 8px;
        margin-left: 20px;
        span{
            display: block;
            font-size: 14px;
            font-family: 'light';
        }
    }
    nav{
        margin-top: 10px;
        a.link{
            font-family: 'light';
            color: white;
            text-decoration: none !important;
            text-align: center;
            display: inline-block;
            margin: 0 20px;
            span{
                display: block;
                margin: 0 auto 10px;
                width: 42px;
                height: 42px;
                border-radius: 50%;
                text-align: center;
                vertical-align: middle;
                line-height: 64px;
                transition: all ease-out .3s;
                img{

                }
            }
            &:hover{
                span{
                    box-shadow: 0 0px 0px 10px rgba(96, 207, 203, 0.3);
                    background: #60cfcb;
                }
                color: #9cf8f5;
            }
            &.cur{
                span{
                    box-shadow: 0 0px 0px 10px #60cfcb;
                    background: #60cfcb;
                }
                color: #9cf8f5;
            }
        }
    }

    .head, .landing-menu header nav ul li a.cur, .landing-menu header nav ul li a.cur i, {
        color: #60cfcb;
    }

    .landing-menu header nav ul li a.cur{
        border-bottom: 3px solid #60cfcb;
    }

    .landing-menu header nav ul li{
        margin-right: 35px;
    }

    .filter-top{
        display: block;
        border-bottom: 1px solid $grey-light;
    }

    .floating-form {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 600px;
        overflow: hidden;
    }

    .filter-in{
        background: $grey-light;
        padding-top: 15px;
        padding-bottom: 0;
    }
    .landing-menu{
        background: none;
        header{
            border: none;
        }
    }
    .ui.items>.item>.content>.description{
        font-size: 15px;
    }

    .login.column{
        max-width: 450px;
    }
    .table-wrap{
        background: $white-color;
        border-top-color: #60cfcb;
        padding: 0;
        .filter-in{
            background: none;
        }
    }
    .filter-field{
        padding: 15px 20px;
    }
}

.parallax-dim{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
}
